<% if current_user %>
<h1>New category</h1>
<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end%>
<% end%>

