
<h1>Category Info</h1>
<h2><%= @category.name %></h2>
<a href="/categories">Back to categories</a>
<%= link_to "Edit category", edit_category_path(@category) %>
<%= link_to "Destroy category", category_path(@category), data: {turbo_method: :delete} %>